.todoList-container {
}

.listItem {
  background-color: rgba(209, 148, 120, 0.596);
  padding: 10px;
  list-style-type: none;
  border: 2px solid sandybrown;
  box-shadow: 2px 2px 12px rgba(244, 165, 96, 0.411);
  border-radius: 2%;
  margin-bottom: 5px;

  @media screen and (max-width: 800px) {
    margin-left: -10%;
  }

  @media screen and (max-width: 600px) {
    margin-left: -14%;
    border: none;
  }

  .listItemName {
    /* padding: 5px 35px 5px 5px; */
    display: inline-block;
    min-width: 30%;
    max-width: 60%;
    overflow: hidden;
    padding: 5px;
    border-radius: 5%;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c32ad, #396afc8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2949ff50, #396afc0c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: gold;
    font-weight: 600;
  }

  .listsBtns {
    transition: 0.3s ease-in-out;
  }
  // .listsBtns:hover {
  //   transform: scale(0.93);
  // }

  .listDeleteLink {
    /* user-select: none; */
    position: absolute;
    left: 80%;
    transform: translateX(-100%);
    display: inline-block;

    &:hover {
      transform: translateX(-100%) scale(0.93);
    }
  }

  .listDoneLink {
    position: absolute;
    left: 97%;
    transform: translateX(-100%);
    display: inline-block;

    &:hover {
      transform: translateX(-100%) scale(0.93);
    }
  }

  .listItemDelete {
    /* padding: 5px; */
    border: 2px solid rgba(178, 34, 34, 0.651);
    border-radius: 15%;
    color: rgb(0, 0, 0);
    background: rgba(230, 87, 4, 0.753);
    text-align: center;
    padding: 5px;
  }

  .listItemDone {
    border: 2px solid rgba(178, 34, 34, 0.651);
    border-radius: 15%;
    color: whitesmoke;
    background-color: rgba(145, 187, 241, 0.534);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
  }
}

li a {
  text-decoration: none;
  padding: 5px;
  backface-visibility: hidden;
}
button {
  text-decoration: none;
  padding: 5px;
  backface-visibility: hidden;
}
