html,
body {
    height: 100vh;
    background: lightcoral;
    overflow: hidden;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
    box-sizing: inherit;
}

.container {
    width: 500px;
    height: 500px;
    border: 10px solid rgba(141, 75, 122, 0.466);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 2px 6px 12px rgb(141, 75, 122);
}

.submit {
    height: 100px;
    width: 100%;
    border: 2px solid burlywood;
    padding-left: 30px;
    padding-top: 20px;
}

.addItemInput {
    border-radius: 5px;
    padding: 5px 0;
    margin-right: 10px;
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
    color: whitesmoke;
    box-shadow: 0px 4px 10px #DA4453;
    text-shadow: 0px 1px 2px;
    font-size: 16px;
}

.submitBtn {
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    background-color: steelblue;
    color: aliceblue;
    border: none;
    transition: 1s ease-out;
    transform: rotateZ(0);
}

/* @keyframes btnTextMove {
    0% {
        transform: translateX(0) rotateZ(0)
    }

    33% {
        transform: translateX(15%) rotateZ(180deg)
    }

    63% {
        transform: translateX(-15%) rotateZ(360deg)
    }

    100% {
        transform: translateX(0) rotateZ(360deg)
    }
} */

.submitBtn .addBtnText {
    display: block;
    transition: .5s ease-out;

}

.submitBtn:hover {
    background-color: rgb(9, 19, 172);
    transform: rotateZ(360deg);
}

.submitBtn:active {
    transform: scale(1.15);
}

.submitBtn:hover .addBtnText {
    color: yellowgreen;
    animation: btnTextMove 1s cubic-bezier(.25, 1.04, .65, .07);
}


.listContainer {
    border: 2px solid goldenrod;
    width: 49.5%;
    position: absolute;
    left: 0;
}

.listHeader {
    text-align: center;
    color: rgb(22, 67, 136);
}

.DoneListContainer__header {
    color: rgb(5, 94, 45);
}

.listItem {
    background-color: rgba(209, 148, 120, 0.596);
    padding: 10px;
    list-style-type: none;
    border: 2px solid sandybrown;
    margin-left: -20%;

}

.listItemName {
    /* padding: 5px 35px 5px 5px; */
    display: inline-block;
    width: 50%;
    overflow: hidden;
    padding: 5px;
    border-radius: 5%;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c32ad, #396afc8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2949ff50, #396afc0c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: gold;
    font-weight: 600;
}

li a {
    text-decoration: none;
    padding: 5px;
    backface-visibility: hidden;
}
.listsBtns {
    transition: .3s ease-in-out;

}
.listsBtns:hover {
    transform: scale(0.93);
}

.listDeleteLink {
    /* user-select: none; */
    position: absolute;
    left: 49.5%;
    display: inline-block;
}

.listDoneLink {
    position: absolute;
    left: 75%;
    display: inline-block;
}

.listItemDelete {
    /* padding: 5px; */
    border: 2px solid firebrick;
    border-radius: 15%;
    color: whitesmoke;
    background: firebrick;
    text-align: center;
    padding: 5px;

}

.listItemDone {
    border: 2px solid firebrick;
    border-radius: 15%;
    color: whitesmoke;
    background-color: blue;
    text-align: center;
    padding: 5px;
}

.doneListContainer {
    width: 49.5%;
    position: absolute;
    right: 0;
    border: 2px solid gold;
}