html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: lightcoral;
  overflow: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: url('./assets//images/todo-orange.jpg');
  background-size: cover;
}

* {
  box-sizing: inherit;
}

/* @keyframes btnTextMove {
    0% {
        transform: translateX(0) rotateZ(0)
    }

    33% {
        transform: translateX(15%) rotateZ(180deg)
    }

    63% {
        transform: translateX(-15%) rotateZ(360deg)
    }

    100% {
        transform: translateX(0) rotateZ(360deg)
    }
} */
