html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  background: lightcoral;
  overflow: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: Ubuntu;
}

body {
  background: url('./assets//images/todo-orange.jpg');
  background-size: cover;

  @media (max-width: 1260px) {
    background: url('./assets//images/todo-orange-mid.jpg');
    background-size: cover;
  }

  @media (max-width: 576px) {
    background: url('./assets//images/todo-orange-small.jpg');
    background-size: cover;
  }
}

* {
  box-sizing: inherit;
}

/* @keyframes btnTextMove {
    0% {
        transform: translateX(0) rotateZ(0)
    }

    33% {
        transform: translateX(15%) rotateZ(180deg)
    }

    63% {
        transform: translateX(-15%) rotateZ(360deg)
    }

    100% {
        transform: translateX(0) rotateZ(360deg)
    }
} */
